Dice/Dice/Service References/RandomizerService/Randomizer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Randomizer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.22:49152/Randomizer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.22:49152/Randomizer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.22:49152/Randomizer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRandomizer_Roll_InputMessage">
    <wsdl:part name="parameters" element="tns:Roll" />
  </wsdl:message>
  <wsdl:message name="IRandomizer_Roll_OutputMessage">
    <wsdl:part name="parameters" element="tns:RollResponse" />
  </wsdl:message>
  <wsdl:message name="IRandomizer_RandomDiceResult_InputMessage">
    <wsdl:part name="parameters" element="tns:RandomDiceResult" />
  </wsdl:message>
  <wsdl:message name="IRandomizer_RandomDiceResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:RandomDiceResultResponse" />
  </wsdl:message>
  <wsdl:portType name="IRandomizer">
    <wsdl:operation name="Roll">
      <wsdl:input wsaw:Action="http://tempuri.org/IRandomizer/Roll" message="tns:IRandomizer_Roll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRandomizer/RollResponse" message="tns:IRandomizer_Roll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RandomDiceResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IRandomizer/RandomDiceResult" message="tns:IRandomizer_RandomDiceResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRandomizer/RandomDiceResultResponse" message="tns:IRandomizer_RandomDiceResult_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRandomizer" type="tns:IRandomizer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Roll">
      <soap:operation soapAction="http://tempuri.org/IRandomizer/Roll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RandomDiceResult">
      <soap:operation soapAction="http://tempuri.org/IRandomizer/RandomDiceResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Randomizer">
    <wsdl:port name="BasicHttpBinding_IRandomizer" binding="tns:BasicHttpBinding_IRandomizer">
      <soap:address location="http://192.168.1.22:49152/Randomizer.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>