Dice/Dice/Service References/RandomizerService/Randomizer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.22:49152/Randomizer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="Roll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sideCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RollResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RollResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomDiceResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sideCount" type="xs:int" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomDiceResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="RandomDiceResultResult" nillable="true" type="q1:DiceContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>