SilverlightApplication1/SilverlightApplication1/Service References/ReactiveService/LongRunningService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LongRunningService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:19500/LongRunningService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:19500/LongRunningService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILongRunningService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ILongRunningService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ILongRunningService_SortIt_InputMessage">
    <wsdl:part name="parameters" element="tns:SortIt" />
  </wsdl:message>
  <wsdl:message name="ILongRunningService_SortIt_OutputMessage">
    <wsdl:part name="parameters" element="tns:SortItResponse" />
  </wsdl:message>
  <wsdl:portType name="ILongRunningService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ILongRunningService/DoWork" message="tns:ILongRunningService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILongRunningService/DoWorkResponse" message="tns:ILongRunningService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SortIt">
      <wsdl:input wsaw:Action="http://tempuri.org/ILongRunningService/SortIt" message="tns:ILongRunningService_SortIt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILongRunningService/SortItResponse" message="tns:ILongRunningService_SortIt_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILongRunningService" type="tns:ILongRunningService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ILongRunningService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SortIt">
      <soap:operation soapAction="http://tempuri.org/ILongRunningService/SortIt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LongRunningService">
    <wsdl:port name="BasicHttpBinding_ILongRunningService" binding="tns:BasicHttpBinding_ILongRunningService">
      <soap:address location="http://localhost:19500/LongRunningService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>