Dice/RxWp7Dice/Dice/Service References/RandomizerService/Randomizer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DiceContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="_DotCount" type="xs:int" />
      <xs:element minOccurs="0" name="_SideCount" type="xs:int" />
      <xs:element minOccurs="0" name="_index" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DiceContract" nillable="true" type="tns:DiceContract" />
</xs:schema>